VITE_API_URL=http://localhost:3001/api
ASSISTANT_ID=869836e7-7202-4217-a390-5569855d73eb
ASSISTANT_API_KEY=aipk_eZQG4U2MTxy3pdt-Sv2gBpiKhIwSv1terXk6Ot8OrjA
JWT_SECRET=prosto-secret-key-2026
PORT=3001
